<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Diabetes Symptoms</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/bootstrap.min.css')}}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/style.css')}}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{{url_for('static', filename ='css/responsive.css')}}">
      <!-- fevicon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png" type="image/gif') }}" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{{url_for('static', filename ='css/jquery.mCustomScrollbar.min.css')}}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="{{url_for('static', filename ='css/owl.carousel.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename ='css/owl.theme.default.min.css')}}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!--header section start -->
      <div class="header_section header_bg">
         <div class="container-fluid">
               <div class="main">
                  <div class="logo"><a href="index.html"><img src="static/images/KeepSafe-logos_white_01.png"></a></div>
                  <div class="menu_text">
                     <ul>
                        <div class="togle_">
                           <div class="menu_main">
                              <ul>
                                 <li><a href="#">Login</a></li>
                                 <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                              </ul>
                           </div>
                        </div>
                        <div id="myNav" class="overlay">
                           <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                           <div class="overlay-content">
                              <a href="index.html">Home</a>
                              <a href="protect.html">Protect</a>
                              <a href="about.html">About</a>
                              <a href="doctors.html">Doctors</a>
                              <a href="news.html">News</a>
                           </div>
                        </div>
                        <span class="static/navbar-toggler-icon"></span>
                        <span onclick="openNav()"><img src="static/images/toogle-icon.png" class="toggle_menu"></span>
                        <span onclick="openNav()"><img src="static/images/toogle-icon1.png" class="toggle_menu_1"></span>
                     </ul>
                  </div>
               </div>
            </div>
            <!-- banner section start -->
            <div class="container">
               <div class="about_taital_main">
                  <h2 class="about_tag">Diabetes Prevention</h2>
                  <div class="about_menu">
                     <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>About</li>
                     </ul>
                  </div>
               </div>
            </div>
         <!-- banner section end -->
      </div>
      <!-- header section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="about_img"><img src="static/images/diabetesprev.jpg"></div>
               </div>
               <div class="col-md-6">
                  <h1 class="about_taital">Diabetes Prevention</span></h1>
                  <p class="about_text">Diabetes prevention can be achieved through a combination of healthy lifestyle choices and regular medical checkups. Here are some steps you can take to prevent diabetes:

Maintain a healthy weight: Being overweight or obese is a major risk factor for diabetes. Losing even a small amount of weight can help reduce your risk of developing diabetes.

Exercise regularly: Exercise can help you maintain a healthy weight and improve your insulin sensitivity. Aim for at least 30 minutes of physical activity most days of the week.

Eat a healthy diet: A healthy diet rich in fruits, vegetables, whole grains, lean protein, and healthy fats can help prevent diabetes.

Limit your intake of sugary drinks and foods: Sugary drinks and foods can cause spikes in blood sugar levels, which can increase your risk of developing diabetes.

Quit smoking: Smoking can increase your risk of developing diabetes, as well as other health problems.

Get regular medical checkups: Regular checkups can help detect any early signs of diabetes, which can help you take action to prevent it.

Manage stress: Chronic stress can increase your risk of developing diabetes. Try to manage stress through relaxation techniques such as yoga or meditation.

Remember, diabetes prevention is a lifelong commitment. By making healthy lifestyle choices, you can significantly reduce your risk of developing diabetes and improve your overall health and well-being.










                     </p>

               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="footer_section_2">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">Resources</h2>
                     <div class="footer_menu">
                        <ul>



                           <li><a href="https://jaiprakashhospitals.com/">Protection</a></li>
                           <li><a href="https://www.cwshospital.org/">Care</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">About</h2>
                     <p class="footer_text">This site is designed by samyak.</p>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">Contact Us</h2>
                     <div class="location_text">
                        <ul>
                           <li>
                              <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>
                              <span class="padding_15">Location-CWS Hosptial,Jagda PO Rourkela,769042,Odisha</span></a>
                           </li>
                           <li>
                              <a href="#"><i class="fa fa-phone" aria-hidden="true"></i>
                              <span class="padding_15">Call -06612473931</span></a>
                           </li>
                           <li>
                              <a href="https://www.cwshospital.org/"><i class="fa fa-envelope" aria-hidden="true"></i>
                              <span class="padding_15">cwshrkl@yahoo.in</span></a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">countrys</h2>
                     <div class="map_image"><img src="static/images/map-bg.png"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->

      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript -->
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });

         $(".zoom").hover(function(){

         $(this).addClass('transition');
         }, function(){

         $(this).removeClass('transition');
         });
         });
      </script>
      <script>
         function openNav() {
         document.getElementById("myNav").style.width = "100%";
         }
         function closeNav() {
         document.getElementById("myNav").style.width = "0%";
         }
      </script>
   </body>
</html>